#
# node type
# controller or network or compute
#
node_type=network

#
# controller node information
#
controller_name=controller
controller_ip=192.168.1.11

#
# network node information
#
network_name=network
network_ip=192.168.1.21

#
# compute nodes information
compute1_ip=192.168.1.31

#
# node information
#
# host_name=controller
password="zxcv!@34"

#
# management network interface information
#
mgmt_net_if=enp3s0
ip_addr=192.168.1.21
prefix=24
gateway_addr=192.168.1.1

#
# tenant network interface information
#
tenant_net_if=enp0s29u1u1u1
tenant_ip_addr=10.0.1.21
tenant_prefix=24

TENANT_NETWORK_CIDR=192.168.1.0/24
DNS_RESOLVER=8.8.8.8
TENANT_NETWORK_GATEWAY=192.168.0.1

#
# external network interface information
#
external_net_if=enp0s29u1u1u2

EXTERNAL_NETWORK_CIDR=203.0.113.0/24
FLOATING_IP_START=203.0.113.101
FLOATING_IP_END=203.0.113.200
EXTERNAL_NETWORK_GATEWAY=203.0.113.1

#
# NTP server name
#
ntp_server_name=time.bora.net
